<div class="home-container">
  <div class="categories">
    <div class="categories__header">
      <h2>Categories</h2>
    </div>
    <div class="categories__list">
    </div>
  </div>
  <div class="products">
    <div class="products__header">
      <h2>New Products</h2>
    </div>
    @if (loading) {
      <div class="products__loading">
      <ng-template #indicatorTemplate>
        <i
          nz-icon
          nzType="loading"
          [ngStyle]="{ 'font-size': '2rem', margin: '0 auto' }"
        ></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
      </div>
    }
    @if (!loading) {
      <div class="products__list">
      @for (let product of this.products) {
        <app-product-card
          [id]="product.id"
          [title]="product.title"
          [image]="product.image"
          [price]="product.price"
          [short_desc]="product.short_desc"
          [category]="product.category"
          [quantity]="product.quantity"
          [onAdd]="cartService.addProduct.bind(cartService)"
        >
        </app-product-card>
      }
      </div>
    }
  </div>
  <div class="load-products">
    <button
      nz-button
      (click)="showMoreProducts()"
      [nzLoading]="additionalLoading"
    >
      Show more
    </button>
  </div>
</div>
